@{
    ViewData["Title"] = "About us";
}
<h1 class="text-center" style="margin-bottom: 20px;">@ViewData["Title"]</h1>
</hr>

<div class="container px-5 text-center" style="margin-bottom: 20px;">
    <img src="~/image/teammembers.png" class="img-fluid border rounded-3" alt="team" width="900" height="500" loading="lazy" />
</div>

<div class="container px-5 text-center">
    <div>
        <h4>
            Team Introduction:
        </h4>
        <p>By building an internal platform focused on alumni/students and dedicated to the publication and exchange of job referral resources, we aim to centralize professional opportunities while promoting mutual assistance and support. Our team is formed by 3 members from Computer Application Development program.</p>
    </div>
    <div style="margin-bottom:100px">
        <h4>
            Team Members:
        </h4>
        <p>Tianyu Dai</p>
        <p><a href="mailto:tdai6259@conestogac.on.ca" style="text-decoration: none;">tdai6259@conestogac.on.ca</a></p>

        <p>Peihua Lie</p>
        <p><a href="mailto:plie4715@conestogac.on.ca" style="text-decoration: none;">plie4715@conestogac.on.ca</a></p>

        <p>Dongwoo Kim</p>
        <p><a href="mailto:dkim7862@conestogac.on.ca" style="text-decoration: none;">dkim7862@conestogac.on.ca</a></p>

    </div>


</div>

